autopep8==1.7.0
CD==1.1.0
cffi==1.15.1
fastdtw==0.3.4
ikpy==3.0.1
joblib==1.1.0
mpmath==1.2.1
networkx==2.6.3
numpy==1.22.0
pandas==1.4.3
pybullet==3.1.8
pycodestyle==2.9.1
pycparser==2.21
pyquaternion==0.9.5
python-igraph==0.9.6
scikit-learn==0.23.1
scipy==1.8.1
seaborn==0.11.2
socks==0
sympy==1.10.1
texttable==1.6.4
threadpoolctl==3.1.0
toml==0.10.2
